{% extends "InstitutAshariteBundle::template.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}


{% block body %}

    <div class="card ">
        <div class="col s12 white z-depth-1">
            <div class="card-content black-text">
                <span class="card-title">Présentation</span>
                <p>Cet institut a été mis en place par Shaykh Abdallah Penot afin de fournir un enseignement basé sur une méthode traditionnelle, des sciences religieuses utiles à chaque musulman.
                    <br>Le programme a été conçu sur l'étude de textes de référence des diverses sciences religieuses dont l'acquisition permettra à l'étudiant de disposer de connaissances nécessaires à la poursuite de son apprentissage .</p>
            </div>

            <div class="col s12 center">
                <img class="center-align" src="{{ asset('public/img/can.jpg') }}" alt="can">
            </div>

            <div class="col s12 center">
                <img src="{{ asset('public/img/entree.png') }}" alt="entree">
            </div>

            <div class="col s12 center pull_low"><br>
                <a class="waves-effect waves-light btn-large teal upper" href="#"><i class="material-icons right">open_in_browser</i>entree plateforme</a>
            </div>

            <div class="col s12 center pull_low"><br><br> </div>

        </div>
    </div>

{% endblock %}