{% extends "InstitutAshariteBundle::Home_template.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block nav %} Contact {% endblock %}

{% block body %}

    <div class="card ">
        <div class="col s12 white z-depth-1">

            <form class="pull_low"  method="post" action="">

                <div class="row">
                    <div class="input-field col s12 center">
                        <h5 class="card-title">Formulaire de contact </h5>
                    </div>
                </div>

                <div class="row"><!-- name -->
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="icon_prefix" type="text" name="name" class="validate">
                                <label for="icon_prefix">Nom</label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row"><!-- subject -->
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">subject</i>
                                <input id="icon_prefix" type="text" name="subject" class="validate">
                                <label for="icon_prefix">Sujet</label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row"><!-- mail -->
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mail</i>
                                <input id="icon_prefix" type="email" name="email" class="validate">
                                <label for="icon_prefix">Email</label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row"><!-- message -->
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">textsms</i>
                                <textarea id="textarea" name="message" class="materialize-textarea"></textarea>
                                <label for="textarea">Message</label>
                            </div>
                        </div>
                    </form>
                </div>

                <button class="btn waves-effect waves-light teal darken-4  right pull_bas" type="submit" name="action">Envoyer
                    <i class="material-icons right">send</i>
                </button>



            </form>

        </div>
    </div>

{% endblock %}