{% extends "InstitutAshariteBundle::Home_template.html.twig" %}

{% block title %} {{ parent() }} - acceuil {% endblock %}


{% block body %}

    <div class="card ">
        <div class="col s12 white z-depth-1">
            <div class="card-content black-text">
                <span class="card-title">Nouveautés</span>

            </div>
        </div>
    </div>

{% endblock %}